In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime as dt
import scheme_mar2023 as scheme

In [ ]:
plt.style.use('default')   # try another styles: 'classic', Solarize_Light2

In [ ]:
df18 = pd.read_csv('G:/1_Data1/sea/BaikalJun2018Sea.dat',
                 sep='\t',
                 decimal=',',
                 na_values='--',
                 skiprows=[0,2],
                 #nrows=1000,
                 parse_dates=['DateTime'],
                 dayfirst=True,
                )
df18.columns = scheme.convert_names(df18.columns)

In [ ]:
df21 = pd.read_csv('G:/1_Data1/sea/BaikalJun2021Sea.dat',
                    sep='\t',
                    decimal=',',
                    na_values='--',
                    skiprows=[0,2,3],
                    #nrows=1000,
                    parse_dates=['DateTime'],
                    dayfirst=True,
                  )
df21.columns = scheme.convert_names(df21.columns)

In [ ]:
df22 = pd.read_csv('G:/1_Data1/sea/BaikalJun2022Sea.dat',
                    sep='\t',
                    decimal=',',
                    na_values='--',
                    skiprows=[0,2,3],
                    #nrows=1000,
                    parse_dates=['DateTime'],
                    dayfirst=True,
                  )
df22.columns = scheme.convert_names(df22.columns)

In [ ]:
df23 = pd.read_csv('G:/1_Data1/sea/BaikalJun2023Sea.dat',
                    sep='\t',
                    decimal=',',
                    na_values='--',
                    skiprows=[0,2,3],
                    #nrows=1000,
                    parse_dates=['DateTime'],
                    dayfirst=True,
                  )
df23.columns = scheme.convert_names(df23.columns)

In [ ]:
df24 = pd.read_csv('G:/1_Data1/sea/BaikalJun2024Sea.dat',
                    sep='\t',
                    decimal='.',
                    na_values='--',
                    skiprows=[1,2,3],
                    #nrows=1000,
                    parse_dates=['DateTime'],
                    dayfirst=False,  # carefully about date format
                  )
df24.columns = scheme.convert_names(df24.columns)

In [ ]:
df = pd.concat([df18, df21, df22, df23, df24], ignore_index=True, axis='index')
df

In [ ]:
cols = df.columns
import collections
[item for item, count in collections.Counter(cols).items() if count > 1]

In [ ]:
cols_we_need = ['DateTime', 'Longitude', 'Latitude',
                'pCO2wtr', 'cCO2wtr', 'pCH4wtr', 'cCH4wtr', 'pCO2air', 'pCH4air',
                'dpCO2', 'dpCH4',
                'vCO2air', 'vCH4air', 
                'ChnN', 'Channel',
                'PressAir',
                'Piro', 'PiroUV', 'LightLX', 'LightUV', 'PiroVisio',
                'Wnd', 'WindSpeed', 
                'TempAir',
                'Precipi', 'Precipitation',
                'AirFlow',
                'TempEqu1', 'TempEqu2', 'TempEqu3', 'Twtr',
                'WaterFlow1', 'WaterFlow2', 'WaterFlow3',
               ]
df = df.loc[:, cols_we_need]

In [ ]:
df.dropna(subset=['DateTime', 'Longitude', 'Latitude'], axis='index', inplace=True)
df.reset_index(drop=True, inplace=True)
df

In [ ]:
## DateTime 
df.sort_values(by='DateTime', inplace=True)
df['year'] = df['DateTime'].dt.year
df['DateTimeSec'] = df['DateTime'].astype('int64')/10**9
df['DateTimeSec'].astype('int32')
df['dt'] = df['DateTimeSec'] - df['DateTimeSec'].shift(1)

In [ ]:
df

In [ ]:
df['DateTime'].describe()

In [ ]:
_df = df
plt.rcParams['figure.figsize'] = [17, 5]
plt.scatter('DateTime', 'WaterFlow2', data=_df, s=2, alpha=0.1)
plt.scatter('DateTime', 'WaterFlow3', data=_df, s=2, alpha=0.1)
plt.scatter('DateTime', 'WaterFlow1', data=_df, s=2, alpha=0.1, c='red')

In [ ]:
df['_WaterFlow'] = df['WaterFlow1'].rolling(20).mean()
df['dWaterFlow'] = (df['_WaterFlow'] - df['_WaterFlow'].shift(1))/df['dt']

In [ ]:
_df = df.loc[df['year']==2018, :]
plt.rcParams['figure.figsize'] = [17, 5]
plt.scatter('DateTime', 'dWaterFlow', data=_df, s=2, alpha=0.1)