In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import scheme_mar2023 as scheme

In [11]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500

In [2]:
tableName = "aug2023_t"

In [3]:
df = pd.read_csv(r'G:\1_Data1\94_BaikalJul2023\BaikalAug2023.txt',
                 sep='\t',
                 decimal=',',
                 parse_dates=['date_time'],
                 dayfirst=True,
                )

In [4]:
df.rename(columns=scheme.NAME_CONV_BAS, inplace=True)

In [12]:
df

,DateTime,date_time_utc,Latitude,Longitude,Speed,Course,solar_altitude,solar_azimuth,TempAir,PressAir,HumidityAir,Precipitation,LightLX,LightUV,vCO2,vCO2max,vCO2min,vCH4,vCH4max,vCH4min,vH2O,co2_licor,h2o_licor,o2_water,o2_water_temperature,ph,temperature_water,temperature_equ_1_,temperature_equ_2_,temperature_equ_3_,temperature_equ_4_,flow_water,AirFlow,Channel,flag,FluoNxRed,FluoNxGrn,FluoNxBlu,FluoKfaRed,FluoKfaGrn,FluoKfaBlu,Comments,WaterFlowEqu1,WaterFlowEqu2,WaterFlowEqu3,WaterFlowEqu4,TempEqu1,TempEqu2,TempEqu3,TempEqu4,temperature_ds_5,temperature_ds_6,temperature_ds_7
0,2023-08-01 12:01:53,01.08.2023 4:01:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.665,7.561,0.0,0.0,16.292,14.232,21.238,NaN,NaN,NaN,|
1,2023-08-01 12:02:13,01.08.2023 4:02:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.48,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.652,7.613,0.0,0.0,16.280,14.244,21.238,NaN,NaN,NaN,|
2,2023-08-01 12:02:33,01.08.2023 4:02:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.613,7.652,0.0,0.0,16.280,14.250,21.256,NaN,NaN,NaN,|
3,2023-08-01 12:02:53,01.08.2023 4:02:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.639,7.652,0.0,0.0,16.286,14.244,21.238,NaN,NaN,NaN,|
4,2023-08-01 12:03:13,01.08.2023 4:03:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.613,7.574,0.0,0.0,16.262,14.244,21.232,NaN,NaN,NaN,|
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34944,2023-08-01 12:51:24,01.08.2023 4:51:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.496,7.758,0.0,0.0,15.696,14.274,21.584,NaN,NaN,NaN,|
34945,2023-08-01 12:51:44,01.08.2023 4:51:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.535,7.665,0.0,0.0,15.666,14.286,21.560,NaN,NaN,NaN,|
34946,2023-08-01 12:52:04,01.08.2023 4:52:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.535,7.652,0.0,0.0,15.696,14.262,21.518,NaN,NaN,NaN,|
34947,2023-08-01 12:52:24,01.08.2023 4:52:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.468,7.665,0.0,0.0,15.642,14.256,21.470,NaN,NaN,NaN,|
34948,2023-08-01 12:52:44,01.08.2023 4:52:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.439,7.747,0.0,0.0,15.666,14.256,21.398,NaN,NaN,NaN,|

In [14]:
cols = [col for col in df.columns if col not in scheme.NAME_CONV_BAS.values()]
cols

['date_time_utc',
 'solar_altitude',
 'solar_azimuth',
 'co2_licor',
 'h2o_licor',
 'o2_water',
 'o2_water_temperature',
 'ph',
 'temperature_water',
 'temperature_equ_1_',
 'temperature_equ_2_',
 'temperature_equ_3_',
 'temperature_equ_4_',
 'flow_water',
 'flag',
 'temperature_ds_5',
 'temperature_ds_6',
 'temperature_ds_7']

In [15]:
df.drop(axis='column', columns=cols, inplace=True, errors='ignore')
df.shape

(34949, 35)

In [18]:
list(df.columns)

['DateTime',
 'Latitude',
 'Longitude',
 'Speed',
 'Course',
 'TempAir',
 'PressAir',
 'HumidityAir',
 'Precipitation',
 'LightLX',
 'LightUV',
 'vCO2',
 'vCO2max',
 'vCO2min',
 'vCH4',
 'vCH4max',
 'vCH4min',
 'vH2O',
 'AirFlow',
 'Channel',
 'FluoNxRed',
 'FluoNxGrn',
 'FluoNxBlu',
 'FluoKfaRed',
 'FluoKfaGrn',
 'FluoKfaBlu',
 'Comments',
 'WaterFlowEqu1',
 'WaterFlowEqu2',
 'WaterFlowEqu3',
 'WaterFlowEqu4',
 'TempEqu1',
 'TempEqu2',
 'TempEqu3',
 'TempEqu4']

In [19]:
engine = create_engine(f"mysql+pymysql://root:oceana1777@localhost:3306/baikal")
df.to_sql(con=engine, if_exists='replace', name=tableName)

34949